<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<center>
<table border="1" cellpadding="3" cellspacing="0">
    <tr bgcolor="#51d4db">
        <td align="center">Ad</td>
        <td align="center">Soyad</td>
        <td align="center">eMail</td>
        <td align="center">Kullanici_adi</td>
    </tr>



{% for kullanıcı in kullanicilar %}
    <tr>
        <td><a href="{% url 'Ortak:Kullanıcı_görüntüle' kullanıcı.id %}">{{kullanıcı.Ad}}</a></td>
        <td><a href="{% url 'Ortak:Kullanıcı_görüntüle' kullanıcı.id %}">{{kullanıcı.Soyad}}</a></td>
        <td><a href="{% url 'Ortak:Kullanıcı_görüntüle' kullanıcı.id %}">{{kullanıcı.e_Mail}}</a></td>
        <td><a href="{% url 'Ortak:Kullanıcı_görüntüle' kullanıcı.id %}">{{kullanıcı.Kullanıcı_adı}}</a></td>
    </tr>


{% endfor %}

</table>

    </center>

</body>
</html>